@import "tailwindcss";

.gap-above-1300 {
    @media(min-width: 1300px) {
        gap: 3rem;
    }
}

.font-above-1300 {
    @media(min-width: 1300px) {
        font-size: 4rem;
    }
}

.font-below- {
    inset: 0;
}

.flex-col-1380 {
    @media(max-width: 1380px) {
        flex-direction: column;
    }
}

.hidden-1200px {
    @media (max-width: 1200px) {
        display: none;
    }
}

.hidden-1370px {
    @media (max-width: 1370px) {
        display: none;
    }
}
